*{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.youtube-logo{
    margin: 0;
    padding: 40px;
    height: 120px;
}
.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: lightblue;
    height: 20px;
}

.rightsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-15px);
}
.rightsection img{
    width: 30px;
    height: 30px;
}
.searchbar{
    display: flex;
    justify-content: center;
    height: 30px;
    transform: translateX(-60px);
 }
.search-image{
    width: 25px;
}
.voice-search-image{
    height: 33px;
    transform: translateX(9px);
}
.searchinput{
    width: 550px;
}
.menu-channel{
    transform: translateX(25px);
    border-radius: 500px;

}
.main-video-player{
    display: inline-block;
    justify-content: center;
   
    padding: 15px;  
}
.main-video-details a{
    text-decoration: none;
}
.video-player-channel-image{
    border-radius: 100px;
    
}
.main-video-player video{
    padding: 10px;
    border: solid black;
    transform: translateX(15px);
}
.main-video-player h3{
    color: black;
    font: 1.3rem sans-serif;
    font-weight: bolder;
    transform: translateX(15px);
    
}
.videos-bar{
    
    
    height: 100%;
    width: 380px;
    transform: translate(930px,-500px);

}
.videos-section{
    display: flex;
    


}
.video-details-section{

    
}
.video-title a{
    text-decoration: none;
    font-size: var(--yt-link-font-size, 1.2rem);
    font-weight: 500;
    line-height: var(--yt-link-line-height, 1.6rem);
    letter-spacing: var(--yt-link-letter-spacing, normal);
    color: black;
    

}

.video-channel-name{
  transform: translateY(20px);
}
.video-metadata{
    transform: translateY(24px);
}
.video-channel-name a{

color: black;
    text-decoration: none;
    font-size: var(--ytd-channel-name-text_-_font-size);
    font-weight: var(--ytd-channel-name-text_-_font-weight);
    line-height: var(--ytd-channel-name-text_-_line-height);
}
